.container-k
  = render "items/header"
  .main-k
    .main-k__header6
      購入完了
    .main-k__body
      .main-k__body__finish-message
        ありがとうございます。購入が完了しました。
      = link_to root_path, {data: {"turbolinks": false}} do
        .main-k__body__start-btn
          トップページに戻る

  = render partial: 'layouts/shared/footer'