.footer__top
  .footer__top__menu
    %h2.footer__top__menu__title
      エフマケについて
    %ul.footer__top__menu__list
      %li.footer__top__menu__list__link
        =link_to "", class: "footer__top__menu__list__link__do" do
          会社概要（運営会社）
      %li.footer__top__menu__list__link
        =link_to "", class: "footer__top__menu__list__link__do" do
          採用情報
      %li.footer__top__menu__list__link
        =link_to "", class: "footer__top__menu__list__link__do" do
          プレリリース
      %li.footer__top__menu__list__link
        =link_to "", class: "footer__top__menu__list__link__do" do
          公式ブログ
      %li.footer__top__menu__list__link
        =link_to "", class: "footer__top__menu__list__link__do" do
          エフマケロゴ利用ライン
      =link_to "", class: "footer__top__menu__list__link-icon" do
        = fa_icon 'twitter', class: "sns-icon"
      =link_to "", class: "footer__top__menu__list__link-icon" do
        = fa_icon 'facebook-square', class: "sns-icon"
  .footer__top__menu
    %h2.footer__top__menu__title
      ヘルプ＆ガイド
    %ul.footer__top__menu__list
      %li.footer__top__menu__list__link
        =link_to "", class: "footer__top__menu__list__link__do" do
          エフマケガイド
      %li.footer__top__menu__list__link
        =link_to "", class: "footer__top__menu__list__link__do" do
          らくらくエフマケ便
      %li.footer__top__menu__list__link
        =link_to "", class: "footer__top__menu__list__link__do" do
          ゆうゆうエフマケ便
      %li.footer__top__menu__list__link
        =link_to "", class: "footer__top__menu__list__link__do" do
          大型エフマケ便
      %li.footer__top__menu__list__link
        =link_to "", class: "footer__top__menu__list__link__do" do
          車体取引ガイド
      %li.footer__top__menu__list__link
        =link_to "", class: "footer__top__menu__list__link__do" do
          エフマケあんしん・あんぜん宣言！
      %li.footer__top__menu__list__link
        =link_to "", class: "footer__top__menu__list__link__do" do
          偽ブランド品撲滅への取り組み
      %li.footer__top__menu__list__link
        =link_to "", class: "footer__top__menu__list__link__do" do
          エフマケボックス
  .footer__top__privacy
    %h2.footer__top__privacy__title
      プライバシーと利用規約
    %ul.footer__top__privacy__list
      %li.footer__top__privacy__list__link
        =link_to "", class: "footer__top__privacy__list__link__do" do
          プライバシーポリシー
      %li.footer__top__privacy__list__link
        =link_to "", class: "footer__top__privacy__list__link__do" do
          エフマケ利用規約
      %li.footer__top__privacy__list__link
        =link_to "", class: "footer__top__privacy__list__link__do" do
          あんしんスマホサポート制度に関する利用特約
      %li.footer__top__privacy__list__link
        =link_to "", class: "footer__top__privacy__list__link__do" do
          コンプライアンスポリシー
    %ul.footer__top__privacy__list2
      %li.footer__top__privacy__list__link
        =link_to "", class: "footer__top__privacy__list__link__do" do
          個人データの安全管理に係る基本方針
      %li.footer__top__privacy__list__link
        =link_to "", class: "footer__top__privacy__list__link__do" do
          特定商取引に関する表記
      %li.footer__top__privacy__list__link
        =link_to "", class: "footer__top__privacy__list__link__do" do
          資金決済法に基づく表示
      %li.footer__top__privacy__list__link
        =link_to "", class: "footer__top__privacy__list__link__do" do
          法令順守と犯罪抑止のために
  .footer__top__langage
    %h2.footer__top__langage__title
      国
    %ul.footer__top__langage__list
      %li.footer__top__langage__list__link
        =link_to "", class: "footer__top__langage__list__link__do" do
          日本
      %li.footer__top__langage__list__link
        =link_to "", class: "footer__top__langage__list__link__do" do
          United States
.footer__bottom
  =link_to "http://localhost:3000/", class: "footer__bottom__logo" do
    <svg class="footer__bottom__logo__link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 281.19 84.08"><defs><style>.white-logo{fill:#fff;stroke:#b53d22;stroke-miterlimit:10;}.white-logo-text{font-size:48px;fill:#fff;font-family:YuGo-Bold-83pv-RKSJ-H, YuGothic;}</style></defs><title>アセット 1</title><g id="レイヤー_2" data-name="レイヤー 2"><g id="レイヤー_1-2" data-name="レイヤー 1"><polygon class="white-logo" points="36.41 83.5 0.5 62.77 0.5 21.31 36.41 0.58 72.32 21.31 72.32 62.77 36.41 83.5"/><polyline class="white-logo" points="0.5 21.31 36.41 42.04 72.32 21.31"/><polyline class="white-logo" points="36.41 83.5 36.41 49.36 36.41 42.04"/><line class="white-logo" x1="36.41" y1="52.41" x2="0.5" y2="31.67"/><line class="white-logo" x1="72.32" y1="33.2" x2="36.41" y2="50.88"/><text class="white-logo-text" transform="translate(86.41 62.77)">Fmarket</text></g></g></svg>
  %a.footer__bottom__copyright
    © 2019 Freemarket
