.exhibit
  =link_to new_item_path, class: "exhibit__link" do
    .exhibit__link__obj
      .exhibit__link__obj__text
        出品
      .exhibit__link__obj__icon
        = fa_icon 'camera', class: "camera-icon"

.wrapper
  .hedder
    = render 'hedder'

  .middle 
    .middle__contents
      .middle__contents__advertisement
        .middle__contents__advertisement__image
          = image_tag src="/assets/KZ190105004_TP_V.jpg", size: "1440x390"
        .middle__contents__advertisement__slide-left
          .middle__contents__advertisement__slide-left__do
        .middle__contents__advertisement__slide-right
          .middle__contents__advertisement__slide-right__do
      .middle__contents__famous
        %h2.middle__contents__famous__text
          人気のカテゴリー
        .middle__contents__famous__tags
          %ul.middle__contents__famous__tags__list
            %li.middle__contents__famous__tags__list__tag
              =link_to "", class: "categorys__tag" do
                レディース
            %li.middle__contents__famous__tags__list__tag
              =link_to "", class: "categorys__tag" do
                メンズ
      .middle__contents__new-items
        .middle__contents__new-items__category
          .middle__contents__new-items__category__top
            %a.middle__contents__new-items__category__top__text
              レディース新着アイテム
            .middle__contents__new-items__category__top__link
              =link_to "", class: "middle__contents__new-items__category__top__link__submit" do
                もっと見る　＞
          .middle__contents__new-items__category__bottom
            %ul.middle__contents__new-items__category__bottom__item
              %li.middle__contents__new-items__category__bottom__item__link
              %li.middle__contents__new-items__category__bottom__item__link
      .middle__contents__famous
        %h2.middle__contents__famous__text
          人気のブランド
        .middle__contents__famous__tags
          %ul.middle__contents__famous__tags__list
            %li.middle__contents__famous__tags__list__tag
              =link_to "", class: "categorys__tag" do
                ルイヴィトン
            %li.middle__contents__famous__tags__list__tag
              =link_to "", class: "categorys__tag" do
                シャネル
      .middle__contents__new-items
        .middle__contents__new-items__category
          .middle__contents__new-items__category__top
            %a.middle__contents__new-items__category__top__text
              ルイヴィトン新着アイテム
            .middle__contents__new-items__category__top__link
              =link_to "", class: "middle__contents__new-items__category__top__link__submit" do
                もっと見る　＞
          .middle__contents__new-items__category__bottom
            %ul.middle__contents__new-items__category__bottom__item
              %li.middle__contents__new-items__category__bottom__item__link
              %li.middle__contents__new-items__category__bottom__item__link

  .footer
    = render 'footer'

