.container
  = render partial: 'devise/shared/header-with-progress'

  .main
    .main__header6
      会員登録完了
    .main__body
      .main__body__finish-message
        ありがとうございます。会員登録が完了しました。
      = link_to '#', {data: {"turbolinks": false}} do
        .main__body__start-btn
          メルカリをはじめる

  = render partial: 'devise/shared/footer'