@mixin formfield {
  width: 343px;
  height: 48px;
  margin-top: 14px;
  box-sizing: border-box;
  padding: 10px 16px 8px;
}

@mixin sub_btn {
  width: 343px;
  height: 50px;
  box-sizing: border-box;
  margin-top: 24px;
  background-color: #ea352d;
  color: white;
  font-size: 14px;
  text-align: center;
}

@mixin notice_message {
  width: 343px;
  height: 42px;
  margin-top: 8px;
  box-sizing: border-box;
  font-size: 14px;
  color: #333333;
}
@mixin mainheader {
  width: 700px;
  height: 97px;
  box-sizing: border-box;
  background-color: #fff;
  margin: 0 auto;
  padding: 32px;
  font-size: 22px;
  line-height: 33px;
  font-weight: bold;
  text-align: center;
}

@mixin hissu {
  background-color: #ea352d;
  color: white;
  border-radius: 2px;
  font-size: 12px;
  padding: 2px 4px;
  margin-left: 8px;
}

@mixin arbitrary {
  background: #ccc;
  color: white;
  border-radius: 2px;
  font-size: 12px;
  padding: 2px 4px;
  margin-left: 8px;
}

@mixin form-iden {
  width: 100%;
  height: 48px;
  margin-top: 14px;
  box-sizing: border-box;
  padding: 10px 16px 8px;
}

@mixin label {
  font-weight: bold;
  font-size: 14px;
}

@mixin select_form {
  margin-top: 8px;
  width: 76px;
  height: 48px;
  box-sizing: border-box;
}

@mixin icon_posi {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
}

@mixin clearfix {
  content: "";
  clear: both;
  display: block;
}