.item-link-list{
  text-decoration: none;
}

.exhibit{
  bottom: 32px;
  right: 32px;
  z-index: 2;
  position: fixed;
  .exhibit__link{
    display: block;
    text-decoration: none;
    .exhibit__link__obj{
      background-color: rgb(255, 81, 0);
      height: 160px;
      width: 160px;
      padding-top: 28px;
      text-align: center;
      border-radius: 50%;
      .exhibit__link__obj__text{
        color: #fff;
        font-size: 22px;
      }
      .exhibit__link__obj__icon{
        margin-top: 8px;
        margin: 5px auto 0px;
        .camera-icon{
          color: #fff;
          font-size: 54px;
        }
      }
    }
  }
}

.wrapper{
  background-color: rgb(245, 245, 245);
  .hedder{
    background-color: #fff;
    position: relative;
    z-index: 3;
    &__menu{
      width: 700px;
      margin: 0px 210px;
      margin-right: -210px;
      padding: 8px 0px 0px;
      &__top{
        display: flex;
        justify-content: space-between;
        &__logo{
          display: flex;
          height: 40px;
          margin-right: 45px;
          &__link{
            align-items: center;
            &__do{
            height: 36px;
            width: 134px;
            }
          }
        }
        &__search{
          width: 100%;
          position: relative;
          &__input{
            background-color: rgb(230, 230, 230);
            height: 40px;
            width: 791px;
            font-size: 16px;
            padding: 0px 50px 0px 10px;
            border-radius: 4px;
            border-style: solid;
            border-width: 1px;
            border-color: rgb(204, 204, 204);
            position: relative;
          }
          &__icon{
            background:none;
            height: 40px;
            width: 40px;
            top: 0px;
            right: 0px;
            cursor: pointer;
            border-radius: 0px 4px 4px 0px;
            border:none;
            position: absolute;
            margin-right: -90px;
            .fa-search{
              font-size: 14px;
              display: flex;
              justify-content: center;

            }
          }
        }
      }
      &__bottom{
        height: 44px;
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        margin-left: 8px;
        &__left{
          display: flex;
          &__category{
            padding-right: 10px;
            cursor: pointer;
            height: 44px;
            position: relative;
            text-decoration: none;
            .item-link-list{
              display: block;
              color: black;
              opacity: 0.8;
              font-size: 14px;
              font-weight: 600;
              line-height: 36px;
              .item-link-logo{
                color: rgb(255, 81, 0);
              }
            }
          }
          &__brand{
            padding-left: 10px;
            display: block;
            font-size: 14px;
            font-weight: 600;
            line-height: 36px;
            cursor: pointer;
            height: 44px;
            position: relative;
            .item-link-list{
              display: block;
              color: black;
              opacity: 0.8;
              font-size: 14px;
              font-weight: 600;
              line-height: 36px;
              .item-link-logo{
                color: rgb(255, 81, 0);
              }
            }
          }
        }
        &__right{
          display: flex;
          margin-right: -270px;
          .hedder__menu__bottom__right__entry{
            text-align: center;
            .new-entry-link{
              background-color: rgb(255, 81, 0);
              color: rgb(255, 255, 255);
              display: block;
              font-size: 14px;
              border-width: 1px;
              border-style: solid;
              text-decoration: none;
              border-radius: 4px;
              padding: 5px 10px;
            }
          }
          &__login{
            text-align: center;
            margin-left: 11px;
            .login-link{
              background-color: rgb(255, 255, 255);
              color: rgb(0, 149, 238);
              display: block;
              font-size: 14px;
              border-radius: 4px;
              border-width: 1px;
              border-style: solid;
              border-color: rgb(0, 149, 238);
              padding: 5px 10px;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .middle{
    max-width: 1020px;
    width: 100%;
    margin: 0px auto;
    &__contents{
      position: relative;
      &__advertisement{
        left: 50%;
        margin-left: -50vw;
        position: relative;
        top: 0px;
        width: 100vw;
        &__image{
          height: 390px;
          width: 100%;
        }
        &__slide-left{
        }
        &__slide-right{
        }
      }
      &__famous{
        background-color: #ffffff;
        left: 50%;
        margin-left: -50vw;
        position: relative;
        top: 0px;
        width: 100vw;
        padding: 40px 20px 20px;
        .middle__contents__famous__text{
          margin-bottom: 16px;
          text-align: center;
          font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
          font-size: 20px;
          font-weight: 600;
        }
        &__tags{
          text-align: center;
          &__list{
            display: inline-block;
            &__tag{
              display: inline-block;
              .categorys__tag{
                background-color: rgb(239, 239, 239);
                cursor: pointer;
                display: inline-block;
                color: black;
                font-size: 14px;
                font-weight: 600;
                border-radius: 15px;
                padding: 8px 16px;
                text-decoration: none;
              }
            }
          } 
        }
      }

      &__new-items{
        padding: 30px 0px 60px;
        &__category{
          &__top{
            display: flex;
            justify-content: space-between;
            &__text{
              font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
              font-size: 17px;
              font-weight: 600;
            }
            &__link{
              &__submit{
                color: rgb(0, 149, 238);
                display: block;
                font-size: 12px;
                font-weight: 600;
                position: relative;
                padding: 5px 14px 5px 5px;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}
