.container-k {
  .main-k {
    &__header4 {
      @include mainheader;
    }
    &__address {
      width: 700px;
      height: 600px;
      border-top: 1px solid #f5f5f5;
      box-sizing: border-box;
      padding: 24px 178.5px 40px;
      background-color: #fff;
      margin: 0 auto;
      label {
        @include label;
      }
      span {
        @include hissu;
      }
      .gray {
        background-color: #CCCCCC;
        color: white;
        border-radius: 2px;
        font-size: 12px;
        padding: 2px 4px;
        margin-left: 8px;
      }
      select {
        margin-top: 8px;
        width: 343px;
        height: 48px;
        box-sizing: border-box;
        margin-bottom: 14px;
      }
      &__postal-code {
        @include formfield;
        margin-bottom: 14px;
      }
      &__city {
        @include formfield;
        margin-bottom: 14px;
      }
      &__banchi {
        @include formfield;
        margin-bottom: 14px;
      }
      &__building {
        @include formfield;
        margin-bottom: 30px;
      }
      &__btn {
        @include sub_btn;
      }
    }
  }
}