.pankuzu
  - case params.values_at :controller, :action

  - when ['users', 'show']
    - breadcrumb :users_show

  - when ['users', 'edit']
    - breadcrumb :users_edit

  - when ['users', 'signout']
    - breadcrumb :users_signout

  - when ['users', 'identification']
    - breadcrumb :users_identification

  - when ['users', 'card']
    - breadcrumb :users_card

  - when ['users', 'my_selling_items']
    - breadcrumb :users_my_selling_items

  - when ['items', 'show']
    - breadcrumb :items_show

  - when ['creditcard', 'card']
    - breadcrumb :creditcard_card

  = breadcrumbs separator: " &nbsp;&nbsp;&#12297;&nbsp; "